
body{

font-family:Arial,sans-serif;

background:#080808;

color:white;

padding:30px;

}


section{

background:#151515;

padding:20px;

margin:20px 0;

border-radius:12px;

}


button{

padding:12px;

cursor:pointer;

}

